.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #8DCAEC;
/*  background-color: rgb(141, 202, 236);*/
  width: 100%;
  color: white;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}

.top-nav h1 {
  margin:0;
  float: left;
  display: inline;
  margin-left: 20px;
  background-color: #8DCAEC;
}

nav ul {
  text-align: center;
  margin:10px;
  display: inline-block;
  list-style: none;
  float:right;
}


nav li, a {
  display: inline;
  padding-right: 15px;
  text-decoration: none;
}


.container {
  margin-top: 100px;
  padding-left: 20px;
}
